# 14. Lambda function in Python

 * __A Lambda function is a small anononymous functions.__
 * __A Lambda function can take any number of arguments, but can only have one expressions.__
 * __The Expression is eveluated and returned.__
 * __Lambda functions can be used wherever function objects are required.__
 * __Lambda functions Expressions(or Lambda functions) are essentitally blocks of code that can be assigned to variable, passed as an arguments, or returned from a function call, in Language that support high-order functions.__
 * __The main role of lambda function is better described in the the scenarios when we employe them anonymously inside another functions.__
 * __n Python, the Lambda function can be utilized as an arguments to the high-order functions as an argument.__
 * __Lambda function in Python__
   * __1.Syntax__
     * __Normal Functions__
     * __Anonymous Functions__
   * __2. Usages__
     * __Lambda with filters()__
     * __Lambda with map()__
     * __Lambda with reduce()__
     * __Lambda with sorted()__
     * __Lambda with apply()__
   * __Comman Error__
     * __SyntaxErro__
     * __TypeError__

In [1]:
def func(x):  # perameterized funciton
    return x+6
func(10)  #10+6

16

In [2]:
(lambda x:x+6)(10) # small anonymous function.

16

In [5]:
# wap to take input from user and perfrom calcuations.
def func(y):
    sum1=y+10
    return sum1
num1=int(input('Enter any number:'))
func(num1)

Enter any number: 50

60

In [11]:
num2=int(input('Enter any number:'))

(lambda sum1:sum1+10)(num2)

Enter any number: 80

90

In [12]:
# wap to find exponent from user input number in function.

def expo(x):
    exponent=x**2
    print('The value is:',exponent)

user1=int(input('Enter any number'))
expo(user1)

Enter any number 20

The value is: 400

In [14]:
user2=int(input('Enter any number:'))

(lambda x:x**2)(user2)

Enter any number: 20

400

In [16]:
# 1. Write a Python program to cound the even or odd numbers in a given array of integers using lambda function and loop.
# array_nums=[10,20,30,25,78,79,45,62,53,51,1001,102,103]

array_nums=[10,20,30,25,78,79,45,62,53,51,1001,102,103]

def even_odd():
    even = []
    odd = []
    for i in array_nums:
        if i%2==0:
            even.append(i)
        else:
            odd.append(i)
    print('Even List is:',even,'\nOdd List is:',odd)

even_odd()

Even List is: [10, 20, 30, 78, 62, 102]
Odd List is: [25, 79, 45, 53, 51, 1001, 103]

In [22]:
array_nums=[10,20,30,25,78,79,45,62,53,51,1001,102,103]

even_nums=(lambda x:(x%2==0),array_nums)
print(even_nums)

(<function <lambda> at 0x000001FDF3C845E0>, [10, 20, 30, 25, 78, 79, 45, 62, 53, 51, 1001, 102, 103])

In [28]:
# FILTER ONLY WORKS ON LIST AND TUPLES
array_nums1=[10,20,30,25,78,79,45,62,53,51,1001,102,103]
even_num=list(filter(lambda y:(y%2==0),array_nums1))
print(even_num)
odd_num=list(filter(lambda y1:(y1%2!=0),array_nums1))
print(odd_num)

[10, 20, 30, 78, 62, 102]
[25, 79, 45, 53, 51, 1001, 103]

In [32]:
# Write a python to filter a given list to determine if the values in the list have a length of 6 using lambda function.
# using loop and lambda
# weekdays=["Monday",'Tuesday','Wednesday','Thursday',"Friday",'Saturday','Sunday']
weekdays=["Monday",'Tuesday','Wednesday','Thursday',"Friday",'Saturday','Sunday']

def filter_weekday():
    list_6=[]
    list_2=[]
    for i in weekdays:
        if len(i)==6:
            # print(i)
            list_6.append(i)
        else:
            list_2.append(i)
        # print(i)
    print('Weekdays having 6 values is:',list_6,"\nNot having 6 values is:",list_2)

filter_weekday()

Weekdays having 6 values is: ['Monday', 'Friday', 'Sunday']
Not having 6 values is: ['Tuesday', 'Wednesday', 'Thursday', 'Saturday']

In [38]:
weekdays=["Monday",'Tuesday','Wednesday','Thursday',"Friday",'Saturday','Sunday']

weekdays_filter=list(filter(lambda x:len(x)==6,weekdays))
print(weekdays_filter)

weekdays_more_6=list(filter(lambda y:len(y)>6,weekdays))
print(weekdays_more_6)

['Monday', 'Friday', 'Sunday']
['Tuesday', 'Wednesday', 'Thursday', 'Saturday']

In [40]:
import datetime

In [88]:
now=datetime.datetime.now()
now

datetime.datetime(2024, 7, 15, 15, 32, 43, 817147)

In [89]:
# wap to extract year,month,date and time using lambda.

year=(lambda x:x.year)
print(year(now))

2024

In [90]:
#month

month=(lambda y:y.month)
print(month(now))

7

In [91]:
# day

date=(lambda x:x.day)
print(date(now))

15

In [92]:
#hours

hours=(lambda x1:x1.hour)
print(hours(now))

15

In [93]:
# minutes

min1=(lambda x2:x2.minute)
print(min1(now))

32

In [94]:
# second

sec=(lambda x3:x3.second)
print(sec(now))

43

# Lambda Filter()

 * __A higher-order function__
 * __Syntax: filter(function,sequecne)__
    * __It applies function to each element of sequence and returns for which the function returns true.__
 * __Filter returns a subset of sequence__
    * __to generate the actual list, we need to apply list()__

In [97]:
# waf to check number is divisible by 3 or not.

def divisible_3():
    user1=int(input('Enter any number:'))
    if user1%3==0:
        print(f'{user1} is divisible by 3')
    else:
        print(f'{user1} is not divisible by 3.')

divisible_3()

Enter any number: 31

31 is not divisible by 3.

In [100]:
def isDiv(x):
    return x%3==0

def isEven(x):
    return x%2==0

isDiv(31)

False

In [102]:
isEven(11)

False

In [103]:
range(31)

range(0, 31)

In [104]:
list(filter(isEven,range(31)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [105]:
list(filter(isDiv,range(10,30)))

[12, 15, 18, 21, 24, 27]

In [108]:
def isCaps(x):
    return 'A' <= x[0]  <='Z'     # capitalize()

y=isCaps('Sahil')
y

True

# map() functions
 * __A higher-order functions__
 * __Syntax: map(function,sequence)__
 * __applies function to each element of sequence and returns the result.__

In [2]:
def square_func(x):
    sqr=x**2
    return sqr

square_func(10)

100

In [5]:
y=int(input('Enter your range:'))
x=list(map(square_func,range(y)))
x

Enter your range: 5

[0, 1, 4, 9, 16]

In [6]:
def cube_value(x):
    cube=x**3
    return cube


cube_value(10)

1000

In [7]:
y1=int(input('Enter Any value:'))
x=list(map(cube_value,range(y1)))
x

Enter Any value: 10

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

# reduce()

 * __Required: from functools import reduce__
 * __syntax: reduce(function,sequence)__
 * __reduce,continually applies the function(x,y) to the sequences. It returns a single value.__

In [8]:
from functools import reduce

In [9]:
def add(x,y):
    return x+y  #3+3=6

add(10,20)

30

In [10]:
reduce(add,range(10))    #1,2,3,4,5,6,7,8,9

45

In [14]:
def mult(x,y):
    return x*y

reduce(mult,range(2,10))

362880

In [15]:
# apply

import pandas as pd

In [21]:
values=[('Katrina Kaif','C',10),("Jackline","A",12),("Anushka","B",13)]
df=pd.DataFrame(values,columns=['Name',"Section","Marks"])
df

           Name Section  Marks
0  Katrina Kaif       C     10
1      Jackline       A     12
2       Anushka       B     13

In [23]:
values=[(10,15,10),(150,200,12),(154,789,13)]
df=pd.DataFrame(values)
df

     0    1   2
0   10   15  10
1  150  200  12
2  154  789  13

In [24]:
df1=df.apply(lambda x:x+10)
df1

     0    1   2
0   20   25  20
1  160  210  22
2  164  799  23