# 4 Tuples in Python

 * __Tuples are immutable lists and cannot be changed in any way once it is created.__
 * __Thye are enclosed within parenthesis and not within square braces.__
 * __Tuples are ordered, indexed collections of data.__
 * __Similar to string indices, the first value in the tuple will have the index[0], the second value[1].__
 * __Negative indices are counted from the end of the tuple, just like lists.__
 * __Tuple also has the same structure where commas separate the values.__
 * __Tuples can store duplicate values.__
 * __Tuples allow you to store several data tiems including string, interger, float in one variable.__

In [1]:
tuple1=("Hello world",'Python',True,False,3.14,10,20)
tuple1

('Hello world', 'Python', True, False, 3.14, 10, 20)

In [3]:
print(type(tuple1))

<class 'tuple'>

In [7]:
# single element as a tuple
tup=("Hello world",)
print(tup)
print(type(tup))

('Hello world',)
<class 'tuple'>

In [9]:
tup2=(10,)
print(type(tup2))

<class 'tuple'>

In [10]:
tuple1=("Hello world",'Python',True,False,3.14,10,20)
tuple1

('Hello world', 'Python', True, False, 3.14, 10, 20)

In [12]:
lis=['Hello']
type(lis)

list

In [24]:
# Accessing index value in tuple
tuple1=("Hello world",'Python',True,False,3.14,10,20)
tuple1
# positive indexing and negative indexing
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])
print(tuple1[3])
print(tuple1[4])
print(tuple1[5])
print(tuple1[6])
# print(tuple1[7])

Hello world
Python
True
False
3.14
10
20

In [26]:
# Negative indexing in tuple

print(tuple1[-1])
print(tuple1[-2])
print(tuple1[-3])
print(tuple1[-4])
print(tuple1[-5])
print(tuple1[-6])
print(tuple1[-7])

20
10
3.14
False
True
Python
Hello world

# Tuple Operations

In [35]:
tuple2=('Welcome python',"sahil khatik",'shrinivas')
print(tuple2[0].upper())
print(tuple2[2].capitalize())
print(tuple2[1].upper())

WELCOME PYTHON
Shrinivas
SAHIL KHATIK

# concatenation

In [38]:
first_name=input('Enter your first name:')
last_name=input('Enter your last name:')
full_name=first_name+" "+last_name
print('Your full name is:',full_name)

Enter your first name: Modi
Enter your last name: ji

Your full name is: Modi ji

# Repetation of tuple

In [40]:
x=(1,2,3,4,5,6)
print(x*10)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

# Tuple is immutable data type

In [42]:
x=('Hello world',)
x.append('Shrinivas')

AttributeError: 'tuple' object has no attribute 'append'

In [46]:
y=('Hello world','Modiji',True,False)
y[0]='Modiji'
print(y)

TypeError: 'tuple' object does not support item assignment

In [48]:
list1=['Hello world','Suryavansham','Cat','Rat','Mat','Bat']
list1[0]='ModiJi'
print(list1)

['ModiJi', 'Suryavansham', 'Cat', 'Rat', 'Mat', 'Bat']

In [51]:
del(list1[0])

In [52]:
list1

['Suryavansham', 'Cat', 'Rat', 'Mat', 'Bat']

In [55]:
tuple1=('Hello world','Suryavansham','Cat','Rat','Mat','Bat')

print(tuple1)

('Hello world', 'Suryavansham', 'Cat', 'Rat', 'Mat', 'Bat')

In [56]:
print(tuple1[0])

Hello world

In [57]:
del(tuple1[0])

TypeError: 'tuple' object doesn't support item deletion

In [58]:
# In tuple you can not delete a single data but you can delete the whole tuple using del() funciton.
tuple1

('Hello world', 'Suryavansham', 'Cat', 'Rat', 'Mat', 'Bat')

In [59]:
del(tuple1)

In [60]:
tuple1

NameError: name 'tuple1' is not defined

# Aggrigate function in tuple

 * __sum(),min(),max(),average(),len()__

In [65]:
x=(10,20,30,40,50,60,70)
print(sum(x))
print(min(x))
print(max(x))
print(len(x))
print(sum(x)/len(x))

280
10
70
7
40.0

In [71]:
# sorting in tuple
# Data arrange in ascending or descending order.
tuple1=(100,20,50,40,80,90,100,55,68)
print(tuple1)
print(type(tuple1))

(100, 20, 50, 40, 80, 90, 100, 55, 68)
<class 'tuple'>

In [72]:
x=sorted(tuple1)
print(x)
print(type(x))

[20, 40, 50, 55, 68, 80, 90, 100, 100]
<class 'list'>

In [73]:
x[::-1]

[100, 100, 90, 80, 68, 55, 50, 40, 20]