# 5. Sets in Python

 * __Set is one of the 4th built-in data types in Python used to store collections of data including List, Tuple, and Dictionary.__
 * __Sets are unordered, but you can remove items and add new items.__
 * __Set elements are unique, Duplicate elements are not allowed.__
 * __A set itself may be modified, but the elements contained in the set must be of an immutable type.__
 * __Sets are used to sore multiple items in a single variable.__
 * __You can denote a set with pair of curly brackets{}.__

In [9]:
x={'Hello'}
print(x)

{'Hello'}

In [10]:
type(x)

set

In [11]:
# how to create empty set in python

set1=set()
print(set1)
print(type(set1))

set()
<class 'set'>

In [13]:
set1=set('Hello',)
print(set1)

{'l', 'H', 'o', 'e'}

In [18]:
set1={'Hello world',"Hey Google",3.147,10,20,20,True,False,('Hello world',True,True,False,False,10,20)}
print(set1)

{False, True, 'Hey Google', 3.147, 'Hello world', 10, 20, ('Hello world', True, True, False, False, 10, 20)}

In [19]:
list1=['Hey Google','Hello world','Hey Google','Siri',10,20,True,False,True,False]
print(list1)

['Hey Google', 'Hello world', 'Hey Google', 'Siri', 10, 20, True, False, True, False]

In [20]:
# converting list into set
set2=set(list1)
print(set2)

{False, True, 'Hey Google', 'Siri', 'Hello world', 10, 20}

In [21]:
# set oprearations
# add(): with the add() function you can able to add elements in the set.

In [22]:
set2

{10, 20, False, 'Hello world', 'Hey Google', 'Siri', True}

In [23]:
set2.add('Shrinivas')
print(set2)

{False, True, 'Hey Google', 'Siri', 'Hello world', 10, 20, 'Shrinivas'}

In [24]:
# how to update element in the set.
# update()

In [25]:
set2.update({False,True,'Hey Google',10,20,30,40})
print(set2)

{False, True, 'Hey Google', 'Siri', 'Hello world', 40, 10, 20, 'Shrinivas', 30}

In [26]:
# how to remove the element in the set in python
# remove() functions

In [27]:
set2.remove('Shrinivas')
print(set2)

{False, True, 'Hey Google', 'Siri', 'Hello world', 40, 10, 20, 30}

In [29]:
print(set2)
set2.remove('Shrinivas')
print(set2)

{False, True, 'Hey Google', 'Siri', 'Hello world', 40, 10, 20, 30}

KeyError: 'Shrinivas'

# discard() function

In [34]:
print(set2)
set2.discard('Shrinivas')
print(set2)

{False, True, 'Hey Google', 'Siri', 'Hello world', 40, 10, 20, 30}
{False, True, 'Hey Google', 'Siri', 'Hello world', 40, 10, 20, 30}

In [37]:
set2.discard('Python')
set2

{10, 20, 30, 40, False, 'Hello world', 'Hey Google', 'Siri', True}

In [38]:
# Logic operations
# union between two sets.
x={2,4,6,8}
y={4,6,8,10,12}
x.union(y)

{2, 4, 6, 8, 10, 12}

In [40]:
# Intersection between two sets.
set4=set(['Hello world',3.14,1.618,'Hello world'])
set5=set([3.14,1.618,True,False,2024])
print(set4)
print(set5)

# other method to print two sets.
set4,set5

{1.618, 3.14, 'Hello world'}
{False, 1.618, True, 3.14, 2024}

({1.618, 3.14, 'Hello world'}, {False, True, 1.618, 3.14, 2024})

In [41]:
intersection= set4&set5
print(intersection)

{1.618, 3.14}

In [42]:
# other method of printing the intersection
set5=set4.intersection(set5)
set5

{1.618, 3.14}

In [45]:
# Difference between two sets.
set4=set(['Hello world',3.14,1.618,'Hello world'])
set5=set([3.14,1.618,True,False,2024])

val1=set4-set5
print(val1)
val2=set5-set4
print(val2)

{'Hello world'}
{False, True, 2024}

In [48]:
# other method to perform difference in sets
value1=set4.difference(set5)
print(value1)
value2=set5.difference(set4)
print(value2)

{'Hello world'}
{False, True, 2024}

In [50]:
# Symmetric Difference
symmetric1=set4.symmetric_difference(set5)
symmetric1

{2024, False, 'Hello world', True}

In [51]:
set_1={10,20,30,40,50,60,70,80,90}
set_1

{10, 20, 30, 40, 50, 60, 70, 80, 90}

In [52]:
set_1[0]

TypeError: 'set' object is not subscriptable

In [57]:
# some calculations in set
# Aggrigate function: Numerical set performa numercal calculations
# min,max,sum,avg,len

set_1

{10, 20, 30, 40, 50, 60, 70, 80, 90}

In [58]:
print("Total of the set:",sum(set_1))
print('Total lenght of the set:',len(set_1))
print('Minimum value of the set:',min(set_1))
print('Maximum value of the set:',max(set_1))
print('Average of the set:',sum(set_1)/len(set_1))

Total of the set: 450
Total lenght of the set: 9
Minimum value of the set: 10
Maximum value of the set: 90
Average of the set: 50.0