# 6. Dictionary in Python

 * __Dictionary are used to store data values in key:value pairs.__
 * __A dictionary is a collection which is ordered, changeable or mutable and do not allow duplicates.__
 * __Dictionary items are ordered, changeable, and does not allow duplicates.__
 * __Dictionary items are presented in key:value pair, and can be referred to by using the key name.__
 * __Dictionary are changeable, meaning that we can change, add or remove items after the dictionary has been created.__
 * __Dictionary cannot have tow items with the same key.__
 * __A dictionary can nested and can contains antoher dicationary.__

    * __'name'--------------->'Bob'__
    * __'age'----------------> 25__
    * __'job'----------------> 'Dev'__
    * __'city'---------------> 'New York'__
    * __'email'--------------> 'bob@web.com'__

In [2]:
dict1={
    'key_1':'value1',
    'key_2':'value2',
    'key_3':'value3',
    'key_4':'value4',
    'key_5':'value5',
    'key_6':'value6'
}
dict1

{'key_1': 'value1',
 'key_2': 'value2',
 'key_3': 'value3',
 'key_4': 'value4',
 'key_5': 'value5',
 'key_6': 'value6'}

In [3]:
print(type(dict1))

<class 'dict'>

In [10]:
dict1={
    'name':'Sahil Khatik',
    'age':25,
    'email':'sahil@234gmail.com',
    'job':'Learner',
    'city':'Pune',
    'contact no.':'789654123',
}
dict1

{'name': 'Sahil Khatik',
 'age': 25,
 'email': 'sahil@234gmail.com',
 'job': 'Learner',
 'city': 'Pune',
 'contact no.': '789654123'}

In [12]:
dict1.keys()

dict_keys(['name', 'age', 'email', 'job', 'city', 'contact no.'])

In [13]:
# How to check values in dictionary
dict1.values()

dict_values(['Sahil Khatik', 25, 'sahil@234gmail.com', 'Learner', 'Pune', '789654123'])

In [18]:
# how to accessing dictionary values

print(dict1['name'])
print(dict1['age'])
print(dict1['email'])
print(dict1['job'])
print(dict1['city'])
print(dict1['contact no.'])

Sahil Khatik
25
sahil@234gmail.com
Learner
Pune
789654123

In [23]:
# how to add new key value in dictionary.
dict1['Highest qualification']='MCA'
dict1

{'name': 'Sahil Khatik',
 'age': 25,
 'email': 'sahil@234gmail.com',
 'job': 'Learner',
 'city': 'Pune',
 'contact no.': '789654123',
 'Highest qualification': 'MCA'}

In [25]:
# Updation in dictionary.

dict1['age']=24
dict1

{'name': 'Sahil Khatik',
 'age': 24,
 'email': 'sahil@234gmail.com',
 'job': 'Learner',
 'city': 'Pune',
 'contact no.': '789654123',
 'Highest qualification': 'MCA'}

In [28]:
# Deletion of diciton

del(dict1['Highest qualification'])

In [29]:
dict1

{'name': 'Sahil Khatik',
 'age': 24,
 'email': 'sahil@234gmail.com',
 'job': 'Learner',
 'city': 'Pune',
 'contact no.': '789654123'}

In [30]:
# verification of key and values in dictionary.
# memebership operators[in, not]
'name' in dict1

True

In [31]:
'age' in dict1

True

In [33]:
'Highest qualificaition' in dict1

False

In [35]:
'name' in dict1

True

In [42]:
# dictionary creating using dict() function
dict2=dict(name='Shrinivash',age='45',email='shri@123gmail.com',Mob_No='7896541123')
dict2

{'name': 'Shrinivash',
 'age': '45',
 'email': 'shri@123gmail.com',
 'Mob_No': '7896541123'}

In [43]:
# pop() function
# This function is used to remove a specific item in dictionary.
#-----------------------------------------------------------------
dict1

{'name': 'Sahil Khatik',
 'age': 24,
 'email': 'sahil@234gmail.com',
 'job': 'Learner',
 'city': 'Pune',
 'contact no.': '789654123'}

In [44]:
dict1.pop('contact no.')

'789654123'

In [45]:
dict1

{'name': 'Sahil Khatik',
 'age': 24,
 'email': 'sahil@234gmail.com',
 'job': 'Learner',
 'city': 'Pune'}

In [47]:
# popitem()

dict1.popitem()

('city', 'Pune')

In [48]:
dict1

{'name': 'Sahil Khatik',
 'age': 24,
 'email': 'sahil@234gmail.com',
 'job': 'Learner'}

In [49]:
dict1.get('name')

'Sahil Khatik'

In [50]:
# fromkeys()

key={'name','age','contact','rollno','subject'}

dict2=dict.fromkeys(key)
dict2

{'subject': None, 'name': None, 'contact': None, 'age': None, 'rollno': None}

In [51]:
# 
dict2['name']='Modiji'
dict2

{'subject': None,
 'name': 'Modiji',
 'contact': None,
 'age': None,
 'rollno': None}

In [53]:
x=dict2.items()
x

dict_items([('subject', None), ('name', 'Modiji'), ('contact', None), ('age', None), ('rollno', None)])

In [54]:
print(type(x))

<class 'dict_items'>

In [57]:
for i in dict2:
    print(i,':',dict2[i])

subject : None
name : Modiji
contact : None
age : None
rollno : None

In [58]:
dict1

{'name': 'Sahil Khatik',
 'age': 24,
 'email': 'sahil@234gmail.com',
 'job': 'Learner'}

In [59]:
dict1.pop()

TypeError: pop expected at least 1 argument, got 0