# 8. Loops in Python

 * __A for loop is used for iterating over a sequence (that is either a list, a tuple, a dicitonary, a set, or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statements as long as a condition is true.__
 * __Note: remember to increment i, or else the loop will continue forever.__
 * __The while loop requires relevant variable to be ready, in this example we need to define an indexing variable, i, which we set to 1.__

# range() function
 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code specified number of times, we can use the range() functions.__
 * __The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1(by ddefault), and ends at a specified.__

In [1]:
range(8)

range(0, 8)

In [2]:
range(5,8)

range(5, 8)

In [16]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [4]:
for i in range(5,10):
    print(i)
else:
    print('Done!')

5
6
7
8
9
Done!

In [15]:
list1=['Apple','Ball','Cat','Dog','Elephant','Fish','Grapes','Horse','Ice','Joker','Kite','Lion','Monkey','Nest','Orange','Peacock','Queen','Rose','Ship','Tiger','Umbrella','Van','Watch','X-mas','Yatch','Zebra']
# print(list1)
for x in list1:
    print(x,end='    ')

Apple    Ball    Cat    Dog    Elephant    Fish    Grapes    Horse    Ice    Joker    Kite    Lion    Monkey    Nest    Orange    Peacock    Queen    Rose    Ship    Tiger    Umbrella    Van    Watch    X-mas    Yatch    Zebra

In [18]:
list1=['Apple','Ball','Cat','Dog','Elephant','Fish','Grapes','Horse','Ice','Joker','Kite','Lion','Monkey','Nest','Orange','Peacock','Queen','Rose','Ship','Tiger','Umbrella','Van','Watch','X-mas','Yatch','Zebra']
# print(list1)
for x in range(len(list1)):
    print(x,list1[x])

0 Apple
1 Ball
2 Cat
3 Dog
4 Elephant
5 Fish
6 Grapes
7 Horse
8 Ice
9 Joker
10 Kite
11 Lion
12 Monkey
13 Nest
14 Orange
15 Peacock
16 Queen
17 Rose
18 Ship
19 Tiger
20 Umbrella
21 Van
22 Watch
23 X-mas
24 Yatch
25 Zebra

In [1]:
for i in range(-3,10):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [5]:
languages=['Python','Java',"JavaScript","PHP","Laravel","Kotlin","C#"]

for i in range(len(languages)):
    print(i,languages[i])

0 Python
1 Java
2 JavaScript
3 PHP
4 Laravel
5 Kotlin
6 C#

In [11]:
# 19x1=19
# 19x2=38
# 19x3=57
# 19x4=76

for i in range(1,10+1):
    x=19
    print(x,'x',i,'=',x*i)

19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

In [17]:
table1=int(input('Enter any number:'))
for i in range(1,11):
    print(table1,"x",i,'=',table1*i)

Enter any number: 45

45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450

In [20]:
table2=int(input('Enter any value:'))
for i in range(1,10+1):
    print('%dx%d=%d'%(table2,i,table2*i))

Enter any value: 5

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

In [24]:
table3=int(input('Enter any number:'))
for i in range(1,11):
    print('{a}X{b}={c}'.format(a=table3,b=i,c=table3*i))

Enter any number: 16

16X1=16
16X2=32
16X3=48
16X4=64
16X5=80
16X6=96
16X7=112
16X8=128
16X9=144
16X10=160

In [26]:
user1=int(input('Enter any number:'))

z=user1**2
print(z)

Enter any number: 3

9

In [27]:
user1=int(input('Enter any number:'))

z=user1**3
print(z)

Enter any number: 2

8

In [31]:
x=int(input('Enter any number'))
for i in range(1,10+1):
    print(f'{x}x{i}={x*i}')   # using f-string function.

Enter any number 20

20x1=20
20x2=40
20x3=60
20x4=80
20x5=100
20x6=120
20x7=140
20x8=160
20x9=180
20x10=200

In [33]:
# controllers
# break and continue
for i in range(20+1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [34]:
for i in range(20+1):
    if i==11:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [37]:
list1=['Apple','Ball','Cat','Dog','Elephant','Fish','Grapes','Horse','Ice','Joker','Kite','Lion','Monkey','Nest','Orange','Peacock','Queen','Rose','Ship','Tiger','Umbrella','Van','Watch','X-mas','Yatch','Zebra']

for i in list1:
    if i=="Grapes":
        break
    print(i)

Apple
Ball
Cat
Dog
Elephant
Fish

In [39]:
list1=['Apple','Ball','Cat','Dog','Elephant','Fish','Grapes','Horse','Ice','Joker','Kite','Lion','Monkey','Nest','Orange','Peacock','Queen','Rose','Ship','Tiger','Umbrella','Van','Watch','X-mas','Yatch','Zebra']

for i in range(len(list1)):
    if list1[i]=="Grapes":
        break
    print(list1[i])

Apple
Ball
Cat
Dog
Elephant
Fish

In [66]:
list1=['Apple','Ball','Cat','Dog','Elephant','Fish','Grapes','Horse','Ice','Joker','Kite','Lion','Monkey','Nest','Orange','Peacock','Queen','Rose','Ship','Tiger','Umbrella','Van','Watch','X-mas','Yatch','Zebra']

element=input('Enter any value:')
element1=element.title()
for i in range(len(list1)):
    if list1[i]==element1:
        break
    print(list1[i])

Enter any value: dog

Apple
Ball
Cat

In [69]:
# continue

for i in range(10+1):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10

In [72]:
i=0
while i<10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [75]:
user1=int(input('Enter any number:'))
i=1
while i<11:
    print(user1,'x',i,'=',user1*i)
    i+=1

Enter any number: 21

21 x 1 = 21
21 x 2 = 42
21 x 3 = 63
21 x 4 = 84
21 x 5 = 105
21 x 6 = 126
21 x 7 = 147
21 x 8 = 168
21 x 9 = 189
21 x 10 = 210

In [83]:
list2=[10,20,30,40,50,60,70,80,90,100]

# find their sum and average using while loop
sum1=0
avg=0
i=0
while i<len(list2):
    sum1=sum1+list2[i]
    avg=sum1/len(list2)

    i+=1
print('Total Sum of the List is:',sum1)
print('Average of the list is:',avg)

Total Sum of the List is: 550
Average of the list is: 55.0

In [5]:
# wap to take input from the user and filter out the even or odd number using while loop

n=int(input('Enter Your Range Here:'))
i=1
while i<n+1:
    if i%2==0:
        print(i,'Even Number')
    else:
        print(i,'Odd Number')
    i+=1

Enter Your Range Here: 50

1 Odd Number
2 Even Number
3 Odd Number
4 Even Number
5 Odd Number
6 Even Number
7 Odd Number
8 Even Number
9 Odd Number
10 Even Number
11 Odd Number
12 Even Number
13 Odd Number
14 Even Number
15 Odd Number
16 Even Number
17 Odd Number
18 Even Number
19 Odd Number
20 Even Number
21 Odd Number
22 Even Number
23 Odd Number
24 Even Number
25 Odd Number
26 Even Number
27 Odd Number
28 Even Number
29 Odd Number
30 Even Number
31 Odd Number
32 Even Number
33 Odd Number
34 Even Number
35 Odd Number
36 Even Number
37 Odd Number
38 Even Number
39 Odd Number
40 Even Number
41 Odd Number
42 Even Number
43 Odd Number
44 Even Number
45 Odd Number
46 Even Number
47 Odd Number
48 Even Number
49 Odd Number
50 Even Number

In [7]:
# Take range from user input and filter out even or odd number and stored in sperated list.
# 10
# even=[]
# odd=[]

n=int(input('Enter your Range Here:'))
i=1
even_num=[]
odd_num=[]
while i<n+1:
    if i%2==0:
        even_num.append(i)
    else:
        odd_num.append(i)
    i+=1

print('Even Element in the list is:',even_num)
print('Odd Element in the lsit is:',odd_num)

Enter your Range Here: 20

Even Element in the list is: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Odd Element in the lsit is: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# break in while loop

In [10]:
i=0
while i<10+1:
    if i==5:
        break
    print(i)
    i+=1

0
1
2
3
4

In [16]:
# Continue in while loop

i=0
while i<=10:
    
    i+=1
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10
11

In [18]:
# while-else

i=0
while i<=10:
    print(i)
    i+=1

else:
    print('These are numbers from 1 to 10')

0
1
2
3
4
5
6
7
8
9
10
These are numbers from 1 to 10

In [19]:
# Q1. wap to take range from user and display the natural number from the range.[for,while]
# Q2. wap to take range from the user and find their sum and average of the range.[for,while]
# Q3. wap to cound the total number of digits in a number of user given number.
# Ex: = 756985=6

#Q4. Wap that accepting a number form the user until the user enters Zero.
# Display the sum and average of all the numbers.

#Q5. wap to print the first 25 odd numbers? and find their sum and it's average.

#Q6.Wap to print the sum, average, and length of positive and negative value given by the user input range
# hint:
# first take total range want to enter.
# second filter out the positive or negative number.

# Q7. Given a list of names, print the names starting withe the letters "A".
# Q8. write a program that calculates the factorial of a given number.

# Q9. Given the list of names and count the names having more then five characters.

# Q10. Wap that takes a year as input and check if it is leap year or not.

In [22]:
# Q1. wap to take range from user and display the natural number from the range.[for,while]
# for loop
n=int(input('Enter your range to print natural number:'))
list1=[]
for i in range(1,n+1):
    list1.append(i)
print(f'Natural Number of user input range {n} is: {list1}')

Enter your range to print natural number: 50

Natural Number of user input range 50 is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [26]:
# using while loop
n1=int(input('Enter Your Range Here:'))
i=1
list2=[]
while i<=n1:
    list2.append(i)
    i+=1

print(f'Your Generated Natural number is {n1}: {list2}')

Enter Your Range Here: 20

Your Generated Natural number is 20: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]