# 8. Loops in Python

 * __A for loop is used for iterating over a sequence (that is either a list, a tuple, a dicitonary, a set, or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statements as long as a condition is true.__
 * __Note: remember to increment i, or else the loop will continue forever.__
 * __The while loop requires relevant variable to be ready, in this example we need to define an indexing variable, i, which we set to 1.__

# range() function
 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code specified number of times, we can use the range() functions.__
 * __The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1(by ddefault), and ends at a specified.__

In [1]:
range(8)

range(0, 8)

In [2]:
range(5,8)

range(5, 8)

In [16]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [4]:
for i in range(5,10):
    print(i)
else:
    print('Done!')

5
6
7
8
9
Done!

In [15]:
list1=['Apple','Ball','Cat','Dog','Elephant','Fish','Grapes','Horse','Ice','Joker','Kite','Lion','Monkey','Nest','Orange','Peacock','Queen','Rose','Ship','Tiger','Umbrella','Van','Watch','X-mas','Yatch','Zebra']
# print(list1)
for x in list1:
    print(x,end='    ')

Apple    Ball    Cat    Dog    Elephant    Fish    Grapes    Horse    Ice    Joker    Kite    Lion    Monkey    Nest    Orange    Peacock    Queen    Rose    Ship    Tiger    Umbrella    Van    Watch    X-mas    Yatch    Zebra

In [18]:
list1=['Apple','Ball','Cat','Dog','Elephant','Fish','Grapes','Horse','Ice','Joker','Kite','Lion','Monkey','Nest','Orange','Peacock','Queen','Rose','Ship','Tiger','Umbrella','Van','Watch','X-mas','Yatch','Zebra']
# print(list1)
for x in range(len(list1)):
    print(x,list1[x])

0 Apple
1 Ball
2 Cat
3 Dog
4 Elephant
5 Fish
6 Grapes
7 Horse
8 Ice
9 Joker
10 Kite
11 Lion
12 Monkey
13 Nest
14 Orange
15 Peacock
16 Queen
17 Rose
18 Ship
19 Tiger
20 Umbrella
21 Van
22 Watch
23 X-mas
24 Yatch
25 Zebra

In [1]:
for i in range(-3,10):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [5]:
languages=['Python','Java',"JavaScript","PHP","Laravel","Kotlin","C#"]

for i in range(len(languages)):
    print(i,languages[i])

0 Python
1 Java
2 JavaScript
3 PHP
4 Laravel
5 Kotlin
6 C#

In [11]:
# 19x1=19
# 19x2=38
# 19x3=57
# 19x4=76

for i in range(1,10+1):
    x=19
    print(x,'x',i,'=',x*i)

19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

In [17]:
table1=int(input('Enter any number:'))
for i in range(1,11):
    print(table1,"x",i,'=',table1*i)

Enter any number: 45

45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450

In [20]:
table2=int(input('Enter any value:'))
for i in range(1,10+1):
    print('%dx%d=%d'%(table2,i,table2*i))

Enter any value: 5

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

In [24]:
table3=int(input('Enter any number:'))
for i in range(1,11):
    print('{a}X{b}={c}'.format(a=table3,b=i,c=table3*i))

Enter any number: 16

16X1=16
16X2=32
16X3=48
16X4=64
16X5=80
16X6=96
16X7=112
16X8=128
16X9=144
16X10=160

In [26]:
user1=int(input('Enter any number:'))

z=user1**2
print(z)

Enter any number: 3

9

In [27]:
user1=int(input('Enter any number:'))

z=user1**3
print(z)

Enter any number: 2

8

In [31]:
x=int(input('Enter any number'))
for i in range(1,10+1):
    print(f'{x}x{i}={x*i}')   # using f-string function.

Enter any number 20

20x1=20
20x2=40
20x3=60
20x4=80
20x5=100
20x6=120
20x7=140
20x8=160
20x9=180
20x10=200

In [33]:
# controllers
# break and continue
for i in range(20+1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [34]:
for i in range(20+1):
    if i==11:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [37]:
list1=['Apple','Ball','Cat','Dog','Elephant','Fish','Grapes','Horse','Ice','Joker','Kite','Lion','Monkey','Nest','Orange','Peacock','Queen','Rose','Ship','Tiger','Umbrella','Van','Watch','X-mas','Yatch','Zebra']

for i in list1:
    if i=="Grapes":
        break
    print(i)

Apple
Ball
Cat
Dog
Elephant
Fish

In [39]:
list1=['Apple','Ball','Cat','Dog','Elephant','Fish','Grapes','Horse','Ice','Joker','Kite','Lion','Monkey','Nest','Orange','Peacock','Queen','Rose','Ship','Tiger','Umbrella','Van','Watch','X-mas','Yatch','Zebra']

for i in range(len(list1)):
    if list1[i]=="Grapes":
        break
    print(list1[i])

Apple
Ball
Cat
Dog
Elephant
Fish

In [66]:
list1=['Apple','Ball','Cat','Dog','Elephant','Fish','Grapes','Horse','Ice','Joker','Kite','Lion','Monkey','Nest','Orange','Peacock','Queen','Rose','Ship','Tiger','Umbrella','Van','Watch','X-mas','Yatch','Zebra']

element=input('Enter any value:')
element1=element.title()
for i in range(len(list1)):
    if list1[i]==element1:
        break
    print(list1[i])

Enter any value: dog

Apple
Ball
Cat

In [69]:
# continue

for i in range(10+1):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10

In [72]:
i=0
while i<10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [75]:
user1=int(input('Enter any number:'))
i=1
while i<11:
    print(user1,'x',i,'=',user1*i)
    i+=1

Enter any number: 21

21 x 1 = 21
21 x 2 = 42
21 x 3 = 63
21 x 4 = 84
21 x 5 = 105
21 x 6 = 126
21 x 7 = 147
21 x 8 = 168
21 x 9 = 189
21 x 10 = 210

In [83]:
list2=[10,20,30,40,50,60,70,80,90,100]

# find their sum and average using while loop
sum1=0
avg=0
i=0
while i<len(list2):
    sum1=sum1+list2[i]
    avg=sum1/len(list2)

    i+=1
print('Total Sum of the List is:',sum1)
print('Average of the list is:',avg)

Total Sum of the List is: 550
Average of the list is: 55.0